.boxes {
    height: calc(100vh);
    position: relative;
    display: grid;
    justify-content: flex-start;
    gap: 2rem 2rem;
    /* Maneiras diferentes de fazer a mesma coisa */
    /* grid-template-columns: 3fr 1fr 1fr; */
    /* SEGUNDA MANEIRA: */
    grid-template-columns: 3fr repeat(2, 1fr);

    /* grid-template-rows:   2fr; */
}


.box {
    border: 8px solid #f00;
    background-color: #00f;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    

}